<span class="rounded-full px-2 py-1 bg-slate-800 text-slate-200 text-xs flex items-center m-1">
  <span>
    <%= @text %>
  </span>
  <%= button_tag type: :button, data: { action: @close_btn_data_action }, class: 'ml-1' do %>
    &times;
  <% end %>
</span>
