<li data-value="<%= @value %>"
    data-select-component-target="dropdownItem"
    class="hover:bg-slate-100 transition-all p-2 cursor-pointer text-slate-600 rounded-lg"
    data-action="click->select-component#handleClickDropdownItem">
  <%= @label %>
</li>
