<main class="mx-auto max-w-[1024px]">
  <h1 class="text-4xl text-slate-800 text-center">30 days of Hotwire</h1>
  <ul class="space-y-2 mt-4">
    <li>
      <%= link_to multi_select_index_path do  %>
        <h3>Day 1: Multi Select</h3>
      <% end %>
    </li>
    <li>
      <%= link_to multi_select_index_path do  %>
        <h3>Day 2: Realtime online users with TurboBroadcasts</h3>
      <% end %>
    </li>
  </ul>
</main>
